@charset "utf-8";
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	border: 0 none;
	margin: 0;
	padding: 0
}
body {
	font: 400 12px/1.5 微软雅黑, Verdana, simsun, Sans-Serif,;
	font-size: 12px;
	color: #333;
	background: #f2f2f2;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.n_b, fieldset, img {
	border: 0
}
a {
	color: #333
}
:focus {
	outline: 0
}
address, caption, cite, code, dfn, em, optgroup, strong, th, var {
	font-style: normal;
	font-weight: 400
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
button, input, optgroup, option, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	-webkit-appearance: none
}
code, kbd, samp, tt {
	font-size: 100%
}
body {
	line-height: 1.5
}
ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
sub, sup {
	font-size: 100%;
	vertical-align: baseline
}
:link, :visited, ins {
	text-decoration: none
}
blockquote, q {
	quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}
address, h1, h2, h3, h4, h5, h6, i, li, span {
	Font-style: normal;
	font-weight: 400
}
.clear:after, .clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden
}
* {
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0
}
.bfff .page {
	background-color: #fff
}
.bfff {
	background-color: #fff
}
.sprites {
	background: url(../images/sprites.png) 0 0 no-repeat;
	display: inline-block;
	overflow: hidden;
	background-size: 200px 300px
}
.topfixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 8;
}
.btmfixed {
	left: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: #fff;
	z-index: 7;
}
.btmfixed:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: #e7e7e7;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
.header {
	background: rgba(51,51,51,.5);
	height: 45px;
	position: relative;
	line-height: 45px;
	text-align: center;
	color: #fff;
	z-index: 1;
	font-family: 微软雅黑;
	overflow: hidden;
}
.header .city {
	background: rgba(0, 0, 0, 0) url(../images/dq-index.png) no-repeat scroll 0 center / 30px 25px;
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	max-width: 85px;
	overflow: hidden;
	overflow-wrap: normal;
	padding-left: 28px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85px;
}
.header.white .city {
	color: #666;
	background: rgba(0, 0, 0, 0) url(../images/dq.png) no-repeat scroll 0 center / 30px 25px;
}
.dl-header .city {
	background: rgba(0, 0, 0, 0) url(../images/dq-index.png) no-repeat scroll 0 center / 27px 22px;
	color: #fff;
	display: block;
	float: right;
	font-size: 13px;
	max-width: 82px;
	overflow: hidden;
	overflow-wrap: normal;
	padding-left: 23px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 82px;
}
.header .city.fr {
	float: right;
	margin-right: 5px;
}
.header.white {
	background-color: #fff;
}
.header.bd_b {
	border-bottom: 1px solid #ddd;
}
.header h2 {
	color: #fff;
	font-size: 17px;
	left: 50%;
	margin: 0 auto 0 -27%;
	overflow: hidden;
	overflow-wrap: normal;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 55%;
	font-weight: 400;
	height: 45px;
}
.header.white h2 {
	color: #666;
}
.header .a-back {
	position: absolute;
	display: block;
	width: 40px;
	height: 44px;
	left: 0;
}
.header .a-rt {
	color: #666;
	display: block;
	font-size: 14px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 50px;
}
.header .a-back:before {
	border: #fff solid 2px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -6px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.header.white .a-back:before {
	border: 2px solid #999;
	border-top: none;
	border-right: none;
}
.header .search-box {
	background-color: #f5f5f5;
	border-radius: 100px;
	color: #666;
	height: 30px;
	left: 50%;
	line-height: 30px;
	margin: 7px 0 7px -23%;
	position: absolute;
	text-align: left;
	width: 70%;
	z-index: 1;
}
.dl-header .search-box {
	background-color: #f5f5f5;
	border-radius: 100px;
	color: #666;
	height: 30px;
	left: 50%;
	line-height: 30px;
	margin: 7px 0 7px -34%;
	position: absolute;
	text-align: left;
	width: 60%;
	z-index: 1;
}
.header .search-box i {
	float: left;
	width: 16px;
	height: 17px;
	margin: 6px 10px;
	background-position: 0 0;
}
.header .search-box input {
	float: left;
	border: none;
	height: 30px;
	line-height: 30px;
	width: 80%;
	background: transparent;
}
.content {
	overflow: hidden;
}
.bar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.bar:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: #e7e7e7;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.bar-tab {
	bottom: 0;
	width: 100%;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	table-layout: fixed;
}
.bar-tab:after {
	display: none;
}
.bar-tab .tab-item {
	color: #929292;
	display: table-cell;
	float: left;
	height: 55px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 33.33%;
}
.footer a.cur {
	color: #e51a29
}
.footer .tab-item i {
	display: block;
	width: 31px;
	height: 31px;
	margin: 7px auto 0;
}
.footer .tab1 i {
	background-position: -169px -202px;
}
.footer .tab1.cur i {
	background-position: -134px -202px;
}
.footer .tab2 i {
	background-position: -169px -237px;
}
.footer .tab2.cur i {
	background-position: -134px -237px;
}
.footer .tab3 i {
	background-position: -169px -271px;
}
.footer .tab3.cur i {
	background-position: -134px -271px;
}
.footer .tab-item span {
	line-height: 18px;
	font-size: 12px;
	display: block;
}
#bg-gray {
	background-color: #333;
	display: none;
	left: 0;
	opacity: .7;
	filter: alpha(opacity=70);
	-moz-opacity: .7;
	position: fixed;
	top: 0;
	z-index: 200
}
.icon-down, .icon-up, .icon-right {
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 35px;
	top: 0;
	left: 50%;
	margin-left: -7px;
}
.icon-down:before, .icon-up:before, .icon-right:before {
	border: #666 solid 2px;
	position: absolute;
	left: 0;
	top: 50%;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
}
.icon-down:before {
	margin-top: -10px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
.icon-up:before {
	margin-top: -3px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg)
}
.icon-right:before {
	margin-top: -7px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg)
}
